<div id="call-to-action">
    <button id="toggleMailchimp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                </div>
                <div class="col-md-12" id="cta-text">
                    <h1>JETZT SPAREN!</h1>
                    <p>Fordern Sie hier Ihre Unterlagen an!</p>
                </div>
            </div>
        </div>
    </button>

    {% include "_mailchimp.html" %}
</div>
<!-- call-to-action -->
