{% extends "_base.html" %}

{% block pageid %}page{% endblock %}

{% block content %}
<div id="{{ obj.meta.id }}" class="container">
    {% if obj.meta.leftimg %}
        <div class="row col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-3 centered">
                    <img src="{{ obj.meta.leftimg }}">
                </div>
                <div class="col-md-8">
                    {{ obj.content }}                   
                </div>
            </div>
        </div>
    {% else %}
        <div class="row" id="content">
            <div class="col-md-8 col-md-offset-2">
                {{ obj.content }}
            </div>
        </div>
    {% endif %}

    {% include "_subnav.html" %}
</div>

{% include "_call_to_action.html" %}
{% endblock %}
