{% extends "_base.html" %}

{% block pageid %}page{% endblock %}

{% block content %}
<div id="{{ obj.meta.id }}" class="container">

        <div class="row" id="content">

                <div class="col-md-3 col-md-offset-1">
                    <div>
                        <form action="//thomasmader.us9.list-manage.com/subscribe/post?u=5b149135377a3b457fddaaa3f&amp;id=6af7c42f86" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 id="panel-box"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                    <br>Auf dem Laufenden bleiben!</h4>
                                
                                    <p id="panel-text">Mit meinem Email-Newsletter:</p>

                                    <div>
                                            <input type="text" class="form-control" placeholder="Email-Adresse" aria-describedby="sizing-addon1" id="mce-EMAIL" name="EMAIL">
                                            
                                            <div style="position: absolute; left: -5000px;">
                                                <input type="text" name="b_5b149135377a3b457fddaaa3f_6af7c42f86" tabindex="-1" value="">
                                            </div>
                                    </div>

                                    <button type="submit" class="btn btn-default btn-vertrieb">Absenden</button>

                                </div>

                            </div>
                        </form>
                            
                        <p class="contactklick">
                            <a href="/download/thomasmader.vcf">
                                <span class="glyphicon glyphicon-download" id="glyphicon-move" aria-hidden="true"></span>
                                Kontaktdaten
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-md-7">
                    {{ obj.content }}
                </div>

        </div>

    {% include "_subnav.html" %}
</div>

{% include "_call_to_action.html" %}
{% endblock %}
